[Unit]
Description=Fast Notification Service
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
EnvironmentFile=/etc/fast-notification/service.conf
ExecStart=/usr/local/bin/fast-notification/notification-listener
Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=fast-notification

[Install]
WantedBy=default.target